@import "tailwindcss";

[x-cloak] {
	display: none !important;
}

@theme {
	--color-primary: #0DB07B;
	--color-primary-dark: #0a8f64;
}

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
